body {
    margin: 0;
    padding: 0;
}
header {
    background-color: darkgrey;
    overflow: hidden;
    padding: 4px;
}
header h1 {
    text-align: center;
    text-transform: uppercase;
}
#navbar {
    background-color: black;
    overflow: hidden;
}
#navbar a {
    text-decoration: none;
    color: white;
    float: right;
    padding: 15px;
    border-color: black;
}
#navbar a:hover {
    background-color: dimgray;
}
main {
    height: 400px;
    padding-bottom: 150px;
}
section {
    background-color: gray;
    margin-top: -20px;
}
section h2 {
    text-align: center;
}
footer {
    background-color: black;
    padding: 1px;
}
footer p {
    color: white;
    clear: both;
    position: relative;
    overflow: hidden;
    text-align: center;
}
